/.idea
/.vs
**/nbactions.xml
**/*.iml
**/*.lnk
**/target
/build.properties
/node_modules
/node
/nb-configuration.xml
/.classpath
/.project
/.settings/
/.vscode/settings.json
/.externalToolBuilders/
/package-lock.json
