<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>map.apps sample</display-name>
    
    <!-- NOTE: a META-INF/web-fragment.xml from ct-jsregistry-embedded is also loaded together with this specification ! -->

    <servlet>
        <description>ProxyServlet</description>
        <servlet-name>ProxyServlet</servlet-name>
        <servlet-class>de.conterra.proxy.servlet.ProxyServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProxyServlet</servlet-name>
        <url-pattern>/proxy</url-pattern>
    </servlet-mapping>
         
    <servlet>
        <!-- Override init parameter to avoid nasty -->
        <!-- file locking issue on windows.
            NOTE: this helps for jetty server
        -->
        <servlet-name>default</servlet-name>
        <init-param>
           <param-name>useFileMappedBuffer</param-name>
           <param-value>false</param-value>
        </init-param>
    </servlet>
    
</web-app>
