{
    "extends": [
        "eslint:recommended",
        "plugin:vue/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "globals": {
        "module": true,
        "require": true
    },
    "rules": {
        "no-console": "off",
        "no-unused-vars": "warn"
    }
}